* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: "Eras ITC";
    background-color: #FFF275;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 80px;
}

.mainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 80px;
}

.header {
    font-size: 92px;
    font-weight: bolder;
}
.header-text {
    margin-top: -50px;
    font-size: 48px;
}
ul {
    display: flex;
    gap: 50px;
}
li {
    list-style: none;
}

.button {
    font-size: 24px;
    border-radius: 15px;
    background-color: #FF8C42;
    padding: 10px 50px;
    transition: all ease 0.2s;
    text-align: center;
}

.button.active {
    transform: scale(1.05);
    background-color: #ff7621;
}

a {
    text-decoration: none;
    color: black;
}



.grid {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
}

.tile {
    border: solid 1px black;
    border-radius: 8%;
    background-color: #ff7621;
    transition: all ease 0.25s;
}
.tile.blink {
    background-color: #6C8EAD;
}

.startText {
    position: absolute;
    bottom: 10%;
    font-size: 32px;
    text-align: center;
}


.disable {
    pointer-events: none;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.done {
    bottom: 25%;
    position: absolute;
    
}

.result {
    
    border-radius: 5%;
    padding: 10px 20px;
    background-color: #38ff9c;
    
    position: absolute;
    text-align: center;
    font-size: 50px;
    box-shadow: 0px 0px 500px 50px black;
}

.leaderboard {
    text-align: center;
    border: solid 4px black;
    border-radius: 5%;
    margin-bottom: 15px;
    background-color: #FFF275;
    padding: 10px 20px;
}

@media only screen and (max-width: 700px) {

    .mainPage .header {
        text-align: center;
        font-size: 42px;
    }

    .mainPage .header-text {
        font-size: 24px;
    }
    
    ul {
        flex-direction: column;
        gap: 20px;
    }

    ul .button {
        font-size: 24px;
    }
}



